<div class="contact-container container-block">
  <ul class="list-unstyled contact-list">


    {% if sidebar.website %}
    <li class="website"><i class="fas fa-glass-martini-alt"></i>
      <a href="https://xheis.github.io/silver-dollop/project1.html" target="_blank">Project 1</a>
    </li>
    <li class="website"><i class="fas fa-car"></i>
      <a href="https://xheis.github.io/silver-dollop/project2.html" target="_blank">Project 2</a>
    </li>
    {% endif %}


  </ul>
</div><!--//contact-container-->
